# Server-Port
PORT=3000

# SMTP-Zugangsdaten (deines Hosting-Mailservers)
SMTP_HOST=mail.otn-olympia-volkslauf.de
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@otn-olympia-volkslauf.de
SMTP_PASS=dein-passwort-hier

# Empfänger-Adresse für Kontaktformular
MAIL_TO=info@otn-olympia-volkslauf.de
